:root {
    --primary-color: #FF7B00;
    --primary-color-dark: #CB6200;
    --primary-color-light: #FF9B3E;

    --secondary-color: #0084FF;
    --secondary-color-dark: #006ACB;
    --secondary-color-light: #3EA2FF;

    --error-color: #ef5350;
}

* {
    margin: 0;
    padding: 0;
}

/* Auth Pages */
.auth-bg {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, 
    rgb(0, 16, 52) 3%, 
    rgb(0, 26, 83) 38%, 
    rgb(0, 7, 49) 68%, 
    rgb(0, 28, 88) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.auth-container {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 30px;
}

.auth-form input {
    outline: solid white 1px;
    border-radius: inherit;
    color: white;
}

.auth-form label {
    color: white;
}

.auth-form .MuiFormHelperText-root {
    color: var(--error-color);
}